<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <style>
        .table {
            margin-left: auto;
            margin-right: auto;
            max-height: 800px;
        }
    </style>
</th:block>

    <div layout:fragment="content">

        <div class="mb-2 mx-3">
            <!-- 오늘 메뉴 이름 -->
            <div id="오늘_메뉴이름" class="d-flex justify-content-center border rounded bg-white mb-1">
                <div th:if="${todayMenu.length() >= 1}" th:text="${todayMenu}" class="menu_print pt-1 pb-1"
                     style="font-size: x-large; font-weight: bold; color: #063c7c"></div>
            </div>
            <!-- 오늘 메뉴 별점 -->
            <div id="오늘_메뉴별점_평균">
                <!-- 아직 점수가 없을 경우 -->
                <div th:if="${todayScore < 1.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_half.png" style="width: 10%">
                        <div style="font-size: 150%; margin-left: 0.5em">
                            0.0
                        </div>
                    </div>
                </div>
                <!-- 1점 이상 -->
                <div th:if="${todayScore >= 1.0 && todayScore < 1.5}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 1.5점 이상 -->
                <div th:if="${todayScore >= 1.5 && todayScore < 2.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_half.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 2점 이상 -->
                <div th:if="${todayScore >= 2.0 && todayScore < 2.5}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 2.5점 이상 -->
                <div th:if="${todayScore >= 2.5 && todayScore < 3.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_half.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 3점 이상 -->
                <div th:if="${todayScore >= 3.0 && todayScore < 3.5}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 3.5점 이상 -->
                <div th:if="${todayScore >= 3.5 && todayScore < 4.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_half.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 4점 이상 -->
                <div th:if="${todayScore >= 4.0 && todayScore < 4.5}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 4.5점 이상 -->
                <div th:if="${todayScore >= 4.5 && todayScore < 5.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_half.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
                <!-- 5점 -->
                <div th:if="${todayScore == 5.0}">
                    <div class="d-flex justify-content-center border rounded bg-white pt-1 pb-1">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <img src="/icon/star_full.png" style="width: 10%">
                        <div th:text="${#numbers.formatDecimal(todayScore, 0, 2)}"
                             style="font-size: 150%; margin-left: 0.5em">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="table-responsive border rounded bg-white mx-1">
                <!-- 오늘의 리뷰 게시판 if 0개 일 경우 -->
                <div id="오늘_리뷰_0개">
                    <div th:if="${boardList.size() == 0}" style="padding-top: 30%; padding-bottom: 50%">
                        <div class="center_alignment">
                            <img src="/icon/wait.png" style="width: 40%; height: auto; padding-bottom: 5%" alt="wait"/>
                        </div>
                        <div class="center_alignment"
                             style="font-size: large; font-weight: bold; color: #6f42c1">
                            현재 게시판을 불러올 수 없습니다.....</div>
                    </div>
                </div>
                <!-- 오늘의 리뷰 게시판 -->
                <table th:if="${boardList.size() >= 1}" class="table table-striped">
                    <thead>
                    <tr style="text-align: center; color: #032854">
                        <th style="width: 15%">평점</th>
                        <th>한줄평</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="board: ${boardList}">
                        <td th:text="${board.score.intValue()}" style="text-align: center;"></td>
                        <td th:text="${board.content}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</html>