<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<!-- 하단 메뉴바-->
    <div class="bottom_menu" th:fragment="footer">
        <div>
            <a th:href="@{/cafeteria-dormitory}"><img src="/icon/house.png" alt=""></a>
        </div>
        <div>
            <a th:href="@{/cafeteria-staff}"><img src="/icon/house.png" alt=""></a>
        </div>
        <div>
            <a th:href="@{/cafeteria-student}"><img src="/icon/house.png" alt=""></a>
        </div>
    </div>

</html>