<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">


    <div th:fragment="footer">
        <div class="container" style="height: 50px">
        </div>
        <!-- 하단 메뉴바-->
        <div class="bottom_menu">
            <div>
                <a th:href="@{/cafeteria/student}"><img src="/icon/bottom_menu/burger.png" alt=""
                                                        style="width: 1.5em; height: auto"></a>
            </div>
            <div>
                <a th:href="@{/cafeteria/student}"><img src="/icon/bottom_menu/apps.png" alt=""
                                                        style="width: 1.5em; height: auto"></a>
            </div>
            <div>
                <a th:href="@{/cafeteria/student}"><img src="/icon/bottom_menu/user.png" alt=""
                                                        style="width: 1.5em; height: auto"></a>
            </div>
        </div>
    </div>

</html>