<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

    <!-- 로고 -->
    <div class="container" th:fragment="header">

        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="padding: 0.3em 0;">
                    <img alt="Brand" src="/image/PeakTime_logo.png" class="img-responsive" style="height: 3em; width: auto;">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

                    <div class="offcanvas-header">
                        <img alt="Brand" src="/image/PeakTime_logo.png" class="img-responsive offcanvas-title" style="height: 50px; width: auto;">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <div class="offcanvas-body">

                        <div class="mb-2">
                            <div class="d-grid gap-2">
                                <a sec:authorize="isAuthenticated()" th:href="@{/members/logout}" class="btn btn-outline-secondary" role="button">로그아웃</a>
                                <a sec:authorize="isAnonymous()" th:href="@{/members/login}" class="btn btn-outline-secondary" role="button">로그인</a>
                                <a sec:authorize="isAnonymous()" th:href="@{/members/new}" class="btn btn-outline-secondary" role="button">회원가입</a>
                            </div>
                        </div>

                        <div class="card text-center">
                            <img src="/image/profile.png" class="card-img-top mx-auto mt-4 d-block" alt="profile" style="height: 10em; width: 10em">
                            <div class="card-body">
                                <h5 class="card-title">홍길동</h5>
                                <p class="card-text">정보통신공학과 17학번</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a th:href="@{/cafeteria/student}">학생회관 게시판</a>
                                </li>
                                <li class="list-group-item">
                                    <a th:href="@{/cafeteria/dormitory}">복지관 게시판</a>
                                </li>
                                <li class="list-group-item">
                                    <a th:href="@{/cafeteria/staff}">방목관 게시판</a>
                                </li>
                                <li class="list-group-item">
                                    <a th:href="@{/cafeteria/staff}">전체 게시판</a>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </nav>


    </div>

</html>