<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

    <div th:fragment="login_status">
        <!-- 모든 곳에서 로그인 현황을 나타낼 필요는 없기 때문에 특정 조건에서만 보이도록.-->
        <div th:if="${#strings.equals(Top_bar_nickname_notation, 'yes')}">
            <!-- 로그인을 한 경우에만 나타나도록. -->
            <div th:if="${username != null}">
                <div class="container" sec:authorize="isAuthenticated()">
                    <p th:text="|${username} 님 환영합니다:)|" class="border rounded mx-1 bg-white"
                       style="text-align: center">환영합니다</p>
                </div>
            </div>
        </div>
    </div>

</html>