<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout}">

    <div th:fragment="login_status">
        <div class="container" sec:authorize="isAuthenticated()">
            <p th:text="|${username} 님 환영합니다:)|" class="border rounded mx-1 bg-white"
               style="text-align: center">테스트</p>
        </div>
    </div>

</html>