body {
    background: #f5f5f5;
}

.bottom_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 100;
    border-top: 1px solid black;
    background-color: white
}

.bottom_menu > div {
    float: right;
    width: 33.33333333%;
    height: 100%;
    text-align: center;
    padding-top: 13px;
}

.star fieldset {
    direction: rtl;
    border: 0;
}

.star input[type=radio] {
    display: none;
}

.star label {
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}

.star label:hover {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.star label:hover ~ label {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.star input[type=radio]:checked ~ label {
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

.center_alignment {
    display: flex;
    justify-content: center;
}

.menu_print {
    /*padding: 1em;*/
    text-align: center;
}

.notToday {
    color: #b0b0b0;
}

.today {
    font-weight: bold;
    color: #305de3;
}

.restaurant_name {
    font-size: large;
    font-weight: bold;
}

/*.review_btn {*/
/*    display: inline-flex;*/
/*}*/

.cafeteria {
    color: black;
    text-decoration: none;
}