body {
    background: #f5f5f5;
}

.logo-container {
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

.default-container {
    margin: 1em auto;
    width: 95%;
    background: white;
    border: 1px solid #000;
}

.review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    background: white;
    border: 1px solid #000;
}

#menu {
    height: 20em;
}

#star fieldset{
    direction: rtl;
    border:0;
}

#star input[type=radio]{
    display: none;
}
#star label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#star label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#star label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#star input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}

#review_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

#reviewContents {
    box-sizing: inherit;
    border: solid 2px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.bottom_menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index:100;
    border-top: 1px solid black;
    background-color: white }
.bottom_menu > div {
    float: right;
    width: 33.33333333%;
    height: 100%;
    text-align: center;
    padding-top: 13px; }

#menu {
    height: 20em;
}